.books-list {
    display: flex;
    flex-flow: row wrap;
    top: -80px;
    max-width: 1200px;
    margin: auto;
	padding: 0 20px;
	list-style-type: none;
}

.books-list li {
    display: inline-block;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    margin: 10px;
    flex: 1 0 270px;
    min-width: 270px;
    z-index: 100;
    text-align: center;
}

.books-list li a, 
.books-list li a:visited {
    text-decoration: none;
}

.books-list li .book-box {
	padding: 40px;
	display: flex;
	flex-direction: column;
}

.books-list li .book-box img {
    height: 96px;
    margin: auto;
    margin-bottom: 20px;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.books-list li .book-box .book-info {
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.books-list li a h2, .books-list li a:visited h2 {
    height: 50px;
    margin: 10px 0 25px;
    margin-top: 0;
}
.books-list li .book-box h2 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 22px;
}
.books-list li h2 {
    text-align: center;
    font-weight: 400;
}


.page-content {
    width: 100%;
    position: absolute;
    padding: 15px;
}

.navbar-form {
    margin-top: 12px;
}

.navbar-form input {
    width:300px !important;
}

@media (min-width: 1601px) {
    .toc-nav {
        width: calc(25vw - 20px);
    }
}

@media (min-width: 1100px) {
    .toc-nav {
        position: fixed;
        top: 110px;
        right: 15px;
        padding-top: 10px;
        overflow-y: auto;
        height: calc(100vh - 180px);
        width: calc(25vw - 20px);
        
        box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
        background: #fff;

        padding: 10px;
    }
}

.main {
    padding: 8px 40px;
    padding-bottom: 20px;
    position: relative;
    width: auto;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    background: #fff;
    margin-top: 110px;
}

@media (min-width: 1601px) {
    .main {
        width: 48vw;
        max-width: 48vw;
        margin-left: 25vw;
    }
}
@media (min-width: 1100px) {
    .main {
        width: 70vw;
        padding-top: 50px;
    }
}

.imageblock img {
    /* forces images to fit within the main div while not rescaling */
    width: auto;
    max-width: 100%;
}

.page-header-decor {
    top: 19px;
    width:100%;
    position: fixed;
}

.navbar-custom .nav li a {
    font-size: 14px;
}

.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
