
<div class="container" style="margin-top:100px">
		<div class="row">
			{% if site.data.generated_guides[page.version][page.lang] %}
			<ul class="books-list">
				{% assign sortedGuides = site.data.generated_guides[page.version][page.lang] | sort: 'priority' %}
				{% for item in sortedGuides %}
				<li>
					<a href="{{ item.url }}">
						<div class="book-box flex-container flex-column">
							{% if item.image != "" %}
							<img src="{{ item.image }}" />
							{% endif %}
							<div class="book-info">
								<h2>{{ item.title }}</h2>
								{%if item.description %}
								<p>{{ item.description }}</p>
								{% endif %}
								{% if item.pdf != "" || item.epub != "" %}
								<p>
									<h6>Alternate formats</h6>
									{% if item.pdf != "" %}
										<a href="{{ item.pdf }}"><i class="fa fa-file-pdf" aria-hidden="true"></i> PDF</a>
									{% endif %}
									{% if item.epub != "" %}
										<a href="{{ item.epub }}"><i class="fa fa-book" aria-hidden="true"></i> EPUB</a>
									{% endif %}
								</p>
								{% endif %}
							</div>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% else %}
			Invalid lang/version combo
			{% endif %}
		</div>
	</div>